<div>
    <form id="form-create" action="/note" method="POST">
        <input name="title" type="text" placeholder="Title">
        <textarea name="content" rows="3" placeholder="Take a note"></textarea>
        <button>Add</button>
    </form>
</div>