{{#each data}}

<div class="note">
    <form action="/delete" method="post">
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        <button type="submit">Delete</button>
        <input type="hidden" name="itemName" value="{{title}}"></input>
    </form>
</div>


{{/each}}